.lead-themes {
	&__container {}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__two-tour-btn {
		&.anim {
			animation: anim 0.3s;
		}

		@keyframes anim {
			from {
				background-color: red;
			}

			to {
				background-color: white;
			}
		}
	}
}

.lead-themes-item {
	background-color: #fff;
	padding: 8px 10px;
	border-radius: 8px;

	&.failed,
	&.solved {
		background-color: rgba(white, 0.5);
	}

	&__text {
		pointer-events: none;
	}
}

.lead-theme {
	&.active {
		display: flex;
	}

	&__container {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__wrapper {
		flex: 1;
	}

	&__header {
		background-color: rgba(white, 0.5);
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__text {}

	&__points {}

	&__answer {
		margin-top: 10px;
		color: green;
		text-align: center;
		flex: 0 0 100%;
		font-size: 16px;
	}

	&__question-image {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		img {
			max-width: 100%;
			max-height: 200px;
		}
	}

	&__question {
		margin-top: 0.6em;
	}

	&__actions {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		margin-top: 0.6em;
	}

	&__apply-btn {
		padding: 20px 5px;
		border-radius: 6px;
		color: white;
		background-color: green;
		width: 100%;
		background: linear-gradient(to right, #0f945a, #36c598, #27d883, #21b76f);
		box-shadow: 0 4px 15px 0 rgba(18, 167, 105, 0.75);
	}

	&__deny-btn {
		@extend .lead-theme__apply-btn;
		background: linear-gradient(to right, #d82d34, #ec4c53, #ea7d81, #ad131b);
	}
}

.to-themes-btn {
	&__container {
		display: flex;
		flex-direction: column;

		table {
			td {
				padding-bottom: 8px;

				&:nth-child(2) {
					padding-left: 0.4em;
				}
			}
		}
	}

	&__btn {}
}

.menu-btn {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	transition: border-radius 300ms linear;
	position: relative;
	z-index: 1;

	span {
		width: 100%;
		height: 4px;
		background-color: black;
		display: block;
		border-radius: 999px;

		transition: 300ms linear;
		transition-property: rotate;
	}

	&.active {
		border-radius: 50%;

		span {
			width: 70%;
			position: absolute;
			top: calc(50% - 2px);
			left: 50%;
			translate: -50% 0;

			&:nth-child(1) {
				rotate: -45deg;
			}

			&:nth-child(2) {
				rotate: 135deg;
				display: none;
			}

			&:nth-child(3) {
				rotate: 45deg;
			}
		}
	}
}

.lead-menu {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(black, 0.4);
	display: none;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	padding-top: 10px;
	align-items: flex-end;
	z-index: 2;
	opacity: 0;
	pointer-events: none;
	transition: opacity 400ms linear;

	&__item {
		border-radius: 999px;
		transform-origin: bottom right;
		opacity: 0;
		padding: 4px 10px;
		font-size: 18px;
		box-shadow: 0 0 10px rgba(black, 0.5);

		&.danger {
			background-color: #bf0000;
			color: white;
		}
	}

	@keyframes showItem {
		0% {
			opacity: 0;
			rotate: -90deg;
		}

		100% {
			opacity: 1;
			rotate: 0deg;
		}
	}

	&.active {
		opacity: 1;
		pointer-events: all;

		.lead-menu__item {
			animation: showItem 300ms ease-in-out forwards;

			&:nth-of-type(2) {
				animation-delay: 0ms;
			}

			&:nth-of-type(3) {
				animation-delay: 100ms;
			}

			&:nth-of-type(4) {
				animation-delay: 200ms;
			}

			&:nth-of-type(5) {
				animation-delay: 300ms;
			}
		}
	}
}

.lead-navbar {
	position: fixed;
	right: 0px;
	left: 0px;
	top: 0px;
	padding: 10px 20px;
	z-index: 2;
	display: none;
	align-items: center;
	justify-content: space-between;
	backdrop-filter: blur(2px);
	background: linear-gradient(0deg, transparent 0%, rgba(96, 121, 187, 1) 80%);

	&__btn {
		height: 46px;
		width: 46px;
		padding: 6px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(black, 0.5);

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__left-questions {
		color: white;
		text-shadow: 0 0 10px black;
		font-size: 20px;
	}
}

body {
	&.lead {
		section {
			padding-top: 66px;
		}

		.lead-navbar {
			display: flex;
		}

		.lead-menu {
			display: flex;
		}

		&:not([data-cur-page="lead-themes"]) {
			.lead-navbar__left-questions {
				display: none;
			}
		}

		&[data-cur-page="lead-themes"] {
			.lead-theme__to-tiles-btn {
				display: none;
			}
		}
	}
}