.lead-themes {
	&__container {
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__two-tour-btn {
		&.anim {
			animation: anim 0.3s;
		}

		@keyframes anim {
			from {
				background-color: red;
			}
			to {
				background-color: white;
			}
		}
	}
}

.lead-themes-item {
	background-color: #fff;
	padding: 8px 10px;
	border-radius: 8px;

	&.failed,
	&.solved {
		background-color: rgba(white, 0.5);
	}

	&__text {
		pointer-events: none;
	}
}

.lead-theme {
	&.active {
		display: flex;
	}
	&__container {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__wrapper {
		flex: 1;
	}

	&__header-actions {
	}

	&__header {
		background-color: #fff;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__text {
	}

	&__points {
	}

	&__answer {
		margin-top: 10px;
		color: green;
		text-align: center;
		flex: 0 0 100%;
		font-size: 16px;
	}

	&__question-image {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		img {
			max-width: 100%;
			max-height: 200px;
		}
	}

	&__question {
		margin-top: 0.6em;
	}

	&__actions {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		margin-top: 0.6em;
	}

	&__apply-btn {
		padding: 30px 5px;
		color: white;
		background-color: green;
		width: 100%;
	}

	&__deny-btn {
		@extend .lead-theme__apply-btn;
		background-color: red;
	}
}

.to-themes-btn {
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__btn {
	}
}

.menu-btn {
	background-color: #fff;
	padding: 10px;
	width: 46px;
	aspect-ratio: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(black, 0.5);
	position: absolute;
	right: 20px;
	top: 10px;
	z-index: 2;
	transition: all 300ms ease-in-out;

	span {
		width: 100%;
		height: 4px;
		background-color: black;
		display: block;
		border-radius: 999px;

		transition: 300ms ease-in-out;
		transition-property: rotate;
	}
}

.lead-menu {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(black, 0.4);
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	padding-top: 66px;
	align-items: flex-end;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
	transition: opacity 400ms linear;

	&__item {
		border-radius: 999px;
		transform-origin: bottom right;
		opacity: 0;
	}

	@keyframes showItem {
		0% {
			opacity: 0;
			rotate: -90deg;
		}

		100% {
			opacity: 1;
			rotate: 0deg;
		}
	}
}

#menu-trigger {
	display: none;

	&:checked {
		& ~ .menu-btn {
			border-radius: 50%;

			span {
				width: 70%;
				position: absolute;
				top: calc(50% - 2px);
				left: 50%;
				translate: -50% 0;

				&:nth-child(1) {
					rotate: -45deg;
				}
				&:nth-child(2) {
					rotate: 135deg;
					display: none;
				}
				&:nth-child(3) {
					rotate: 45deg;
				}
			}
		}

		& ~ .lead-menu {
			opacity: 1;
			pointer-events: all;

			.lead-menu__item {
				animation: showItem 300ms ease-in-out forwards;

				&:nth-child(1) {
					animation-delay: 0ms;
				}
				&:nth-child(2) {
					animation-delay: 100ms;
				}
				&:nth-child(3) {
					animation-delay: 200ms;
				}
				&:nth-child(4) {
					animation-delay: 300ms;
				}
			}
		}
	}
}
