@import "reset";
@import "variables";
@import "fonts";

body {
	font-family: "consolas";
	background-color: var(--bg-color);
	font-size: 20px;
}

$minWidth: 320;
$maxWidth: 480;

//Адаптивное свойство
@mixin adaptiv-value($indentType, $pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	#{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth+px}) / #{$maxWidth - $minWidth}));
}

.container {
	padding: 0 15px;
	margin: 0 auto;
}

section {
	background: linear-gradient(170deg, white, blue, red);
	padding: 30px 0;
	display: none;
	min-height: 100%;

	&.active {
		display: block;
	}
}

//===========================================================

@import 'intro';
@import 'view';

//===========================================================

.dn {
	display: none;
}
