@import "reset";
@import "variables";
@import "fonts";

$minWidth: 320;
$maxWidth: 1920;

//Адаптивное свойство
@mixin adaptiv-value($indentType, $pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	#{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth+px}) / #{$maxWidth - $minWidth}));
}

body {
	font-family: "consolas";
	font-size: 20px;
	background: var(--bg-color) linear-gradient(109deg, #97ABE0 -1.52%, rgba(96, 121, 187, 0.76) 58.26%, rgba(51, 70, 121, 0.19) 114.41%);

	.bg-elem-1 {
		position: absolute;
		right: 0;
		top: 0;
		@include adaptiv-value('width', 735, 160);
	}
	.bg-elem-2 {
		position: absolute;
		left: 0;
		bottom: 0;
		@include adaptiv-value('width', 439, 200);
	}
}

.container {
	padding: 0 15px;
	margin: 0 auto;
}

section {
	position: relative;
	background: transparent;
	padding: 30px 0;
	display: none;
	min-height: 100%;

	&.active {
		display: block;
	}
}

.btn {
	padding: 2px 6px;
	font-size: 18px;
	width: fit-content;
	background-color: #fff;
}

.loading {
	display: none;
	background: rgba(white, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	align-items: center;
	justify-content: center;

	img {
		width: 100px;
	}

	&.active {
		display: flex;
	}
}

//===========================================================

@import "login";
@import "intro";
@import "view";

//===========================================================

.dn {
	display: none;
}
