.waiting {
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 80vh; //temp
	}

	&__text {
		font-size: 70px;
		text-align: center;
	}
}

.categories {
	&__container {
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

.categories-item {
	background-color: rgba(white, 0.5);
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	&__text {
	}
}

.tiles {
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
		gap: 10px;
	}
}
.tiles-item {
	background-color: white;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	cursor: pointer;

	&.checked {
		opacity: 0.2;
		cursor: default;
	}
}

.question {
	&__container {
	}

	&__image {
		width: 100%;
		height: calc(100vh - 60px);
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: bottom;
		}
	}

	&__text {
		background-color: rgba(black, 0.5);
		padding: 10px;
		color: white;
		position: absolute;
		bottom: 0;
		left: 0;
		@include adaptiv-value('font-size', 30, 20);

		&:empty {
			display: none;
		}
	}
}
