.waiting {
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 80vh; //temp
	}

	&__text {
		font-size: 40px;
		text-align: center;
	}
}

.answer {
	&__container {}

	&__image {
		width: 100%;
		height: calc(100vh - 60px);
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: bottom;
		}
	}

	&__text {
		background-color: rgba(black, 0.5);
		padding: 10px;
		color: white;
		position: absolute;
		bottom: 0;
		left: 0;
		@include adaptiv-value("font-size", 30, 20);

		&:empty {
			display: none;
		}
	}

	&__points-anim {
		display: none;
		font-size: 80px;
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translate(-50%, 0);
		color: white;
		text-shadow:
			0 0 4px black,
			0 0 10px black,
			0 0 15px black,
			0 0 30px black;
		animation: answer-points 1s ease-out forwards;

		&.active {
			display: block;
		}
	}

	@keyframes answer-points {
		0% {
			bottom: 20px;
			transform: translate(-50%, 0) scale(1);
		}

		30% {
			bottom: 20px;
			transform: translate(-50%, 0) scale(1.4) rotateY(180deg);
		}

		60% {
			bottom: 20px;
			transform: translate(-50%, 0) scale(1) rotateY(360deg);
		}

		100% {
			opacity: 0.1;
			bottom: 120%;
			transform: translate(-50%, 0) scale(0.4) rotateY(360deg);
		}
	}
}

.themes {
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
		gap: 10px;
	}
}

.themes-item {
	background-color: #fff;
	padding: 10px;

	&__text {
		font-size: 18px;
	}

	&.failed {
		background-color: #ff8585;
	}

	&.solved {
		background-color: #51ffab;
	}
}

.theme {
	height: 100vh;

	&__container {
		display: flex;
		gap: 30px;
		height: 100%;
	}

	&__list {
		flex: 0 0 400px;

		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

.theme-body {
	background-color: rgba(black, 0.2);
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 20px;
	height: min-content;

	&__image {
		max-width: 100%;
		object-fit: contain;

		&.dn + .theme-body__text {
			padding-top: 0;
		}
	}

	&__text {
		padding-top: 20px;
		flex: 0 0 max-content;
		color: white;
		font-weight: 500;
		font-size: 2.3vw;

		&:empty {
			padding-top: 0;
		}
	}
}

.theme-item {
	background-color: #fff;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 5px solid transparent;
	flex-wrap: wrap;

	&__text {}

	&__reward {}

	&.solved {
		background-color: #51ffab;
	}

	&.failed {
		color: white;
		background-color: #ff8585;
	}

	&.active {
		border-color: black;
		box-shadow:
			0 0 5px wheat,
			0 0 10px wheat,
			0 0 20px wheat,
			0 0 50px wheat;
	}
}

.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(black, 0.5);

	&.active {
		display: block;
	}
}

.answer {
	&__container {}

	&__image {}

	&__text {}
}