* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: 0;
}

textarea, input {
  font: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bg-color: gray;
}

body {
  font-family: "consolas";
  background-color: var(--bg-color);
  font-size: 20px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__begin-quiz-btn {
  margin-top: 50vh;
  font-size: 20px;
  padding: 10px;
}

.intro-members {
  width: 50vw;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.intro-members__open-btn {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  position: relative;
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.intro-members__open-btn img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}
.intro-members__wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 10px 20px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
}
.intro-members.active .intro-members__open-btn img {
  transform: translate(-50%, -100%) rotate(180deg);
}
.intro-members__add-member-block {
  justify-content: center;
}
.intro-members__add-member-block input {
  width: 8em;
}
.intro-members__add-member-block button {
  padding: 2px 4px;
  border: 1px solid black;
  margin-left: auto;
}
.intro-members__add-member-block input,
.intro-members__add-member-block button {
  display: none;
}
.intro-members__add-member-block.active {
  justify-content: flex-start;
}
.intro-members__add-member-block.active input,
.intro-members__add-member-block.active button {
  display: block;
}
.intro-members__add-member-block.active p {
  display: none;
}

.intro-members-item, .intro-members__add-member-block {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.intro-members-item:not(:last-child), .intro-members__add-member-block:not(:last-child) {
  margin-bottom: 10px;
}
.dn {
  display: none;
}