* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: 0;
}

textarea, input {
  font: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bg-color: gray;
}

body {
  font-family: "consolas";
  background-color: var(--bg-color);
  font-size: 20px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

section {
  background: linear-gradient(90deg, white, blue, red);
  padding: 30px 0;
  display: none;
  min-height: 100%;
}
section.active {
  display: block;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__begin-quiz-btn {
  margin-top: 50vh;
  font-size: 20px;
  padding: 10px;
}

.intro-members {
  width: 450px;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.intro-members__open-btn {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  position: relative;
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: white;
}
.intro-members__open-btn img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  cursor: pointer;
}
.intro-members__open-btn.empty-list {
  animation: emptyMembersList 500ms;
}
@keyframes emptyMembersList {
  from {
    background-color: rgba(255, 0, 0, 0.5);
  }
  to {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.intro-members__wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 10px 20px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
}
.intro-members.active .intro-members__open-btn img {
  transform: translate(-50%, -100%) rotate(180deg);
}
.intro-members:not(.active) .intro-members__open-btn {
  cursor: pointer;
}
.intro-members__add-member-block {
  justify-content: center;
}
.intro-members__add-member-block input {
  width: 8em;
}
.intro-members__add-member-block button {
  padding: 2px 4px;
  border: 1px solid black;
  margin-left: auto;
}
.intro-members__add-member-block input,
.intro-members__add-member-block button {
  display: none;
}
.intro-members__add-member-block.active {
  justify-content: flex-start;
}
.intro-members__add-member-block.active input,
.intro-members__add-member-block.active button {
  display: block;
}
.intro-members__add-member-block.active p {
  display: none;
}

.intro-members-item, .intro-members__add-member-block {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.intro-members-item:not(:last-child), .intro-members__add-member-block:not(:last-child) {
  margin-bottom: 10px;
}
.intro-members-item__delete-btn {
  padding: 2px 4px;
  border: 1px solid black;
  margin-left: auto;
}

.intro-tiles__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.intro-tiles-item {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.intro-tiles-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro-tiles-item__image {
  height: 100px;
}
.intro-tiles-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.members__list.lock * {
  cursor: default;
}
.members__to-tiles {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.members__to-tiles button {
  padding: 4px 10px;
  font-size: 18px;
  border: 1px solid black;
}
.members__to-tiles.active {
  display: block;
}

.members-item {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  gap: 10px;
  cursor: pointer;
}
.members-item:not(:last-child) {
  margin-bottom: 10px;
}
.members-item * {
  pointer-events: none;
}
.members-item__name {
  flex: 1;
}
.members-item__points {
  padding-right: 20px;
}
.members-item__deny-btn, .members-item__apply-btn {
  background-color: red;
  padding: 4px 10px;
  margin: -4px 0;
  display: none;
  color: white;
  font-size: 0.8em;
  pointer-events: all;
}
.members-item__apply-btn {
  background-color: green;
  margin-right: 20px;
}
.members-item.active {
  cursor: default;
}
.members-item.active .members-item__deny-btn, .members-item.active .members-item__apply-btn {
  display: block;
}
.members-item.disabled {
  cursor: default;
  background-color: red;
  color: white;
}
.members-item.solved {
  cursor: default;
  background-color: green;
  color: white;
}

.waiting__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.waiting__text {
  font-size: 70px;
  text-align: center;
}

.categories__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categories-item {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.tiles__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px;
}

.tiles-item {
  background-color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.tiles-item.checked {
  opacity: 0.2;
  cursor: default;
}

.question__image {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}
.question__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.question__text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 50px;
}
.question__text:empty {
  display: none;
}

.dn {
  display: none;
}