* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: 0;
}

textarea, input {
  font: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bg-color: gray;
}

body {
  font-family: "consolas";
  background-color: var(--bg-color);
  font-size: 20px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

section {
  background: linear-gradient(90deg, white, blue, red);
  padding: 30px 0;
  display: none;
  min-height: 100%;
}
section.active {
  display: block;
}

.btn {
  padding: 2px 6px;
  font-size: 18px;
}

.loading {
  display: none;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}
.loading img {
  width: 100px;
}
.loading.active {
  display: flex;
}

.lead-themes__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.lead-themes-item {
  background-color: #fff;
  padding: 8px 10px;
}
.lead-themes-item.failed, .lead-themes-item.solved {
  display: none;
}
.lead-themes-item__text {
  pointer-events: none;
}

.lead-theme__header {
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lead-theme__actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30vh;
}
.lead-theme__apply-btn {
  color: white;
  background-color: green;
}
.lead-theme__deny-btn {
  color: white;
  background-color: red;
}

.to-themes-btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.waiting__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.waiting__text {
  font-size: 70px;
  text-align: center;
}

.answer__image {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}
.answer__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}
.answer__text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: calc(20px + 10 * (100vw - 320px) / 1600);
}
.answer__text:empty {
  display: none;
}

.themes__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 10px;
}

.themes-item {
  background-color: #fff;
  padding: 10px;
}
.themes-item__text {
  font-size: 18px;
}
.themes-item.failed {
  background-color: #ff8585;
}
.themes-item.solved {
  background-color: #51ffab;
}

.theme__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-item {
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid transparent;
}
.theme-item.solved {
  background-color: #51ffab;
}
.theme-item.failed {
  opacity: 0.5;
  background-color: #ff8585;
}
.theme-item.active {
  border-color: black;
  box-shadow: 0 0 5px wheat, 0 0 10px wheat, 0 0 20px wheat, 0 0 50px wheat;
}

.popup {
  display: none;
}
.popup.active {
  display: block;
}

.answer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.dn {
  display: none;
}