@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: 0;
}

textarea, input {
  font: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bg-color: gray;
}

body {
  font-family: "consolas";
  font-size: 20px;
  background: var(--bg-color) linear-gradient(109deg, #97ABE0 -1.52%, rgba(96, 121, 187, 0.76) 58.26%, rgba(51, 70, 121, 0.19) 114.41%);
}
body .bg-elem-1 {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(160px + 575 * (100vw - 320px) / 1600);
}
body .bg-elem-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(200px + 239 * (100vw - 320px) / 1600);
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

section {
  position: relative;
  background: transparent;
  padding: 30px 0;
  display: none;
  min-height: 100%;
}
section.active {
  display: block;
}

.btn {
  padding: 2px 6px;
  font-size: 18px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
}

.loading {
  display: none;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}
.loading img {
  width: 100px;
}
.loading.active {
  display: flex;
}

.login__container {
  height: 100%;
}
.login__games {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.login__games:empty::after {
  content: "Нет активных игр";
  text-align: center;
  display: block;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.login__add-game-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 6px;
}
.login .popup {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7);
}
.login .popup.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login .popup .container {
  background-color: rgba(255, 255, 255, 0.2);
  width: min(90vw, 350px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
}
.login .popup input {
  width: 100%;
  background-color: transparent;
  border: white 2px solid;
  line-height: 1.7em;
  padding: 0 10px;
  border-radius: 6px;
  outline: none;
  color: white;
}
.login .popup input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.login .popup input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.login .popup button {
  border: white 2px solid;
  border-radius: 100px;
  padding: 4px 10px;
  font-size: 20px;
  flex: 1;
  font-weight: 500;
}
.login .popup button:nth-child(2) {
  background-color: transparent;
  color: white;
}
.login .popup button:disabled {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.5);
  border: transparent 2px solid;
}
.login .popup .create-game-popup__actions, .login .popup .login-popup__actions {
  display: flex;
  gap: 12px;
  margin: 20px 20px 0;
}
.login .popup .login-popup__title {
  color: white;
  text-align: center;
}
.login-game {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  gap: 8px;
  padding: 8px 12px;
  align-items: center;
}
.login-game > * {
  pointer-events: none;
}
.login-game__title {
  flex: 1;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
.login-game-role {
  position: relative;
}
.login-game-role__status {
  position: absolute;
  left: 0;
  top: 0;
  translate: -50% 0;
}

.checkbox-green {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 18px;
}
.checkbox-green input[type=checkbox] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox-green input[type=checkbox]:checked + .checkbox-green-switch:before {
  content: attr(data-label-off);
  left: 0;
}
.checkbox-green input[type=checkbox]:checked + .checkbox-green-switch:after {
  content: attr(data-label-on);
  color: black;
  transform: translate3d(100%, 0, 0);
}
.checkbox-green .checkbox-green-switch {
  display: flex;
  height: 30px;
  width: 100%;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  background: transparent;
  border: 2px white solid;
}
.checkbox-green .checkbox-green-switch:before {
  content: attr(data-label-on);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  color: white;
  transition: all 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.checkbox-green .checkbox-green-switch:after {
  content: attr(data-label-off);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 100px;
  padding: 5px;
  position: absolute;
  top: 0;
  z-index: 5;
  background: white;
  transition: all 0.3s cubic-bezier(0, 1, 0.5, 1);
}

.lead-themes__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.lead-themes__actions, .lead-theme__header-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1em;
}
.lead-themes__two-tour-btn.anim {
  animation: anim 0.3s;
}
@keyframes anim {
  from {
    background-color: red;
  }
  to {
    background-color: white;
  }
}

.lead-themes-item {
  background-color: #fff;
  padding: 8px 10px;
}
.lead-themes-item.failed, .lead-themes-item.solved {
  display: none;
}
.lead-themes-item__text {
  pointer-events: none;
}

.lead-theme.active {
  display: flex;
}
.lead-theme__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lead-theme__wrapper {
  flex: 1;
}
.lead-theme__header {
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lead-theme__answer {
  margin-top: 10px;
  color: green;
  text-align: center;
  flex: 0 0 100%;
  font-size: 16px;
}
.lead-theme__question-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.lead-theme__question-image img {
  max-width: 100%;
  max-height: 200px;
}
.lead-theme__question {
  margin-top: 0.6em;
}
.lead-theme__actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 0.6em;
}
.lead-theme__apply-btn, .lead-theme__deny-btn {
  padding: 30px 5px;
  color: white;
  background-color: green;
  width: 100%;
}
.lead-theme__deny-btn {
  background-color: red;
}

.to-themes-btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.waiting__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.waiting__text {
  font-size: 40px;
  text-align: center;
}

.answer__image {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}
.answer__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}
.answer__text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: calc(20px + 10 * (100vw - 320px) / 1600);
}
.answer__text:empty {
  display: none;
}
.answer__points-anim {
  display: none;
  font-size: 80px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  text-shadow: 0 0 4px black, 0 0 10px black, 0 0 15px black, 0 0 30px black;
  animation: answer-points 1s ease-out forwards;
}
.answer__points-anim.active {
  display: block;
}
@keyframes answer-points {
  0% {
    bottom: 20px;
    transform: translate(-50%, 0) scale(1);
  }
  30% {
    bottom: 20px;
    transform: translate(-50%, 0) scale(1.4) rotateY(180deg);
  }
  60% {
    bottom: 20px;
    transform: translate(-50%, 0) scale(1) rotateY(360deg);
  }
  100% {
    opacity: 0.1;
    bottom: 120%;
    transform: translate(-50%, 0) scale(0.4) rotateY(360deg);
  }
}

.themes__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 10px;
}

.themes-item {
  background-color: #fff;
  padding: 10px;
}
.themes-item__text {
  font-size: 18px;
}
.themes-item.failed {
  background-color: #ff8585;
}
.themes-item.solved {
  background-color: #51ffab;
}

.theme__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-item {
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid transparent;
  flex-wrap: wrap;
}
.theme-item__question {
  display: none;
}
.theme-item__question.active:not(:empty) {
  margin-top: 10px;
  flex: 0 0 100%;
  display: block;
  font-size: 16px;
}
.theme-item.solved {
  background-color: #51ffab;
}
.theme-item.failed {
  color: white;
  background-color: #ff8585;
}
.theme-item.active {
  border-color: black;
  box-shadow: 0 0 5px wheat, 0 0 10px wheat, 0 0 20px wheat, 0 0 50px wheat;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup.active {
  display: block;
}

.dn {
  display: none;
}